// ---------------------------- FUNCTIONS ---------------------------- //
@function vw($px) {
    @return ($px / 1920) * 100vw;
}

// ---------------------------- IMPORTS ---------------------------- //
@import url('lenis/dist/lenis.css');
@import url('./mouse-follower.scss');
@font-face {
    font-family: 'PPNeueMontreal';
    src: url('/fonts/PPNeueMontreal-Book.otf') format('opentype');
}
@font-face {
    font-family: 'PPNeueMontreal';
    src: url('/fonts/PPNeueMontreal-Medium.otf') format('opentype');
    font-weight: 500;
}
@font-face {
    font-family: 'PPNeueMontreal';
    src: url('/fonts/PPNeueMontreal-Bold.otf') format('opentype');
    font-weight: 700;
}

// --------------------------- VARIABLES --------------------------- //
$midnight: #141726;
$midnight-light: #29294F;
$purple: #7A4ACF;
$white: #FFFFFE;
$white-opacity: #FFFFFE0A;

$size-title: vw(64);
$size-subtitle: vw(32);
$size-anchor: vw(24);
$size-text: vw(18);

// ---------------------- READY TO USE CLASSES ---------------------- //
.title {
    font-size: $size-title;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
}
.anchor {
    font-size: $size-anchor;
    font-weight: 500;
    text-transform: uppercase;
    color: $white;
    text-decoration: none;
    transition: all 0.3s ease;
    &:hover {
        color: $purple;
    }
}
.subtitle {
    font-size: $size-subtitle;
}
.text {
    font-size: $size-text;
}

// ------------------------- GLOBAL STYLES ------------------------- //
body {
    margin: 0;
    background-color: $midnight;
    color: $white;
    font-family: 'PPNeueMontreal', sans-serif;
}

a {
    color: $white;
    text-decoration: none;
    transition: all 0.3s ease;
    &:hover {
        color: $purple;
    }
}

.body-container {
    height: 300vh;
}

// ----------------------- PAGE TRANSITION ----------------------- //
.page-transition-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $purple;
    z-index: 9999;
    display: none;
    will-change: clip-path;
}

// ---------------------------- HERO ---------------------------- //
.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar-backdrop, .navbar-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    pointer-events: none;
    overflow: hidden;
}

.navbar-background, .navbar-items {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    min-width: 800px;
    aspect-ratio: 16/9;
    will-change: width, height;
}

.navbar-background {
    background-color: $midnight;
    pointer-events: none;
    z-index: 0;
}

.navbar-items {
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    z-index: 2;

    .navbar-links {
        position: relative;
        width: 50%;
        display: flex;
        justify-content: space-between;
        height: min-content;

        &:nth-child(1) {
            padding: vw(32) vw(64) vw(32) vw(32);
        }

        &:nth-child(2) {
            padding: vw(32) vw(32) vw(32) vw(64);
        }
    }

    .navbar-logo {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        pointer-events: all;
        z-index: 2;
    
        &.navbar-logo-pinned {
            bottom: unset;
            top: vw(16);
        }
    
        img {
            object-fit: contain;
        }
    }
}

// ---------------------------- CAROUSEL ---------------------------- //
.carousel-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: vw(48);
    padding: vw(64);

    h1 {
        width: 100%;
    }


    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        will-change: transform;
    }

    h2 {
        text-transform: uppercase;
        font-size: vw(64);
        font-weight: 700;
        letter-spacing: -0.3rem;
        line-height: 0.85;
    }

    .carousel {
        position: relative;
        width: vw(1792);
        height: vw(950);
        overflow: hidden;
        border-radius: 14px;
    }

    .carousel-images, .carousel-images .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .carousel-images .img {
        will-change: clip-path;
    }

    .carousel-images {
        opacity: 0.85;
    }

    .slide-title-container {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;

        .slide-title {
            position: relative;
            text-align: center;
            filter: url(#blur-matrix) blur(0.25px);
            -webkit-filter: url(#blur-matrix) blur(0.25px);
            z-index: 2;

            .word {
                filter: blur(75px);
                -webkit-filter: blur(75px);
                will-change: filter, opacity;
                opacity: 0;
            }
        }
    }

    .slider-controls {
        position: absolute;
        width: vw(1792-128);
        top: 50%;
        transform: translateY(-50%);
        padding: vw(128);
        display: flex;
        justify-content: space-between;
        z-index: 10;

        .control-btn {
            padding: vw(16);
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $midnight-light;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;

            &:hover {
                background-color: $purple;
            }
        }
    }
}

// ---------------------------- FILLER IMAGE ---------------------------- //
.filler-image {
    margin-bottom: vw(256);

    .image {
        width: vw(1732);
        margin-left: vw(64);
        height: vw(974);
        position: relative;
        overflow: hidden;

        picture {
            position: absolute;
            inset: 0;
            overflow: hidden;
            border-radius: 14px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
            }
        }
    }
}

// ---------------------------- PRELOADER ---------------------------- //
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $midnight;
    z-index: 100;
    display: none;

    .preloader-bar {
        height: vw(24);
        width: vw(800);
        background-color: $midnight-light;
        border-radius: 4px;
        margin-bottom: vw(128);

        .preloader-progress {
            height: 100%;
            width: 0%;
            background-color: $purple;
            border-radius: 4px;
        }
    }

    .stella-bar {
        height: vw(65);
        width: vw(800);
        margin-bottom: vw(8);
        position: relative;

        .stella-progress {
            position: absolute;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }

        .stella-progress video {
            height: 65px;
            aspect-ratio: 1/1;
            object-fit: cover;
            object-position: top center;
        }
    }
}

// ---------------------------- HOME ---------------------------- //
.select-game {
    padding: 0 vw(64);
    height: 100vh;
    display: flex;
    align-items: center;
    gap: vw(64);
    
    .spiritfarer, .cult-of-the-lamb {
        width: 50%;
        aspect-ratio: 1/1;
        overflow: hidden;
        border-radius: 14px;
        position: relative;
        .bg {
            transition: all 0.3s ease-in-out;
        }

        .logo {
            width: vw(700);
            height: auto;
            opacity: 0;
        }

        .link, .logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.3s ease-in-out;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:hover {
            cursor: pointer;
            .logo {
                opacity: 1;
            }
            .bg, .link {
                scale: 1.1;
            }
        }
    }
}

// ---------------------------- FEATURE SECTION ---------------------------- //
.game-feature {
    display: flex;
    gap: vw(88);
    padding: vw(64);
    align-items: center;

    .feature-image-container {
        position: relative;
        width: 60%;
        max-width: 900px;
        aspect-ratio: 1/1;
        border-radius: 14px;
        overflow: hidden;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
        }
    }

    .feature-container {
        display: flex;
        flex-direction: column;
        gap: vw(64);
    }
}

// ---------------------------- CHARACTERS ---------------------------- //
.characters {
    display: flex;
    flex-direction: column;
    gap: vw(48);
    padding-bottom: vw(128);

    h1 {
        margin: 0 vw(64);
    }

    .characters-container {
        display: flex;
        width: 100vw;
        overflow: hidden;

        .character-card {
            display: flex;
            align-items: center;
            gap: vw(88);
            width: 100vw;
            flex-shrink: 0;
            &:first-child {
                margin-left: vw(64);
            }
            &:last-child {
                margin-right: vw(64);
            }

            div {
                width: vw(580);
                height: vw(820);
                border-radius: 14px;
                overflow: hidden;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center center;
                }

                h2 {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    font-size: $size-subtitle;
                    font-weight: 700;
                    margin: 0;
                    padding: vw(8) vw(16);
                    background-color: $midnight;
                    border-top-left-radius: 8px;
                }
            }

            p {
                width: vw(840);
            }
        }
    }
}    