// ---------------------------- FUNCTIONS ---------------------------- //
@function vw($px) {
    @return ($px / 1920) * 100vw;
}


// ---------------------------- IMPORTS ---------------------------- //
@import url('lenis/dist/lenis.css');
@import url('./mouse-follower.scss');
@font-face {
    font-family: 'PPNeueMontreal';
    src: url('/fonts/PPNeueMontreal-Book.otf') format('opentype');
}
@font-face {
    font-family: 'PPNeueMontreal';
    src: url('/fonts/PPNeueMontreal-Medium.otf') format('opentype');
    font-weight: 500;
}


// --------------------------- VARIABLES --------------------------- //
$midnight: #141726;
$midnight-light: #29294F;
$purple: #7A4ACF;
$white: #FFFFFE;
$white-opacity: #FFFFFE0A;

$size-title: vw(64);
$size-subtitle: vw(32);
$size-anchor: vw(24);
$size-text: vw(18);


// ---------------------- READY TO USE CLASSES ---------------------- //
.title {
    font-size: $size-title;
    font-weight: 500;
    text-transform: uppercase;
}
.anchor {
    font-size: $size-anchor;
    font-weight: 500;
    text-transform: uppercase;
    color: $white;
    text-decoration: none;
    transition: all 0.3s ease;
    &:hover {
        color: $purple;
    }
}
.subtitle {
    font-size: $size-subtitle;
}
.text {
    font-size: $size-text;
}


// ------------------------- GLOBAL STYLES ------------------------- //
body {
    margin: 0;
    background-color: $midnight;
    color: $white;
    font-family: 'PPNeueMontreal', sans-serif;
}

a {
    color: $white;
    text-decoration: none;
    transition: all 0.3s ease;
    &:hover {
        color: $purple;
    }
}

.body-container {
    height: 100vh;
}

.page-transition-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $purple;
    z-index: 9999;
    display: none;
}